@import "../../styles/mixins";
@import "../../styles/variables";
.products {
  @include align(column);
  width: 70vw;
  margin-top: 7vh;
  h1 {
    font-size: $subtitle-size;
  }
  &__carousel {
    @include card(rgb(197, 171, 86));
    height: 18vw;
    &__product {
      margin-top: 1.1vw;
      @include align(row);
      justify-content: space-around;
      &__image {
        height: 80%;
        width: 34%;
        clip-path: polygon(0 7%, 100% 7%, 100% 93%, 0 93%);
      }
      &__sentence {
        text-align: center;
        font-size: 2vw;
        h3 {
          margin-bottom: 5%;
          font-size: 1em;
        }
        p {
          width: 25vw;
          word-break: break-all;
          font-size: 0.8em;
        }
      }
    }
  }
}
