@import "../../styles/mixins";
@import "../../styles/variables";
.home {
  @include align(column);
  text-align: center;
  font-size: 2vw;
  h2 {
    margin-bottom: 5%;
    font-size: 2em;
    color: rgb(228, 96, 118);
  }
}
